.message {
  position: relative;
  display: inline-block;
  min-height: 48px;
  max-width: 250px;
  min-width: 125px;
  padding: 8px 16px;
  box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 1);
  border-radius: 0.4em;
  & p {
    word-break: break-word;
  }
  & small {
    bottom: 0;
    right: 8px;
    display: inline;
  }
  &:after {
    margin-top: -13px;
  }
  &.question {
    align-self: flex-end;
  }
  &.answer {
    align-self: flex-start;
  }
  margin-bottom: 16px;
}
